body{
  background-color: #333;
}


.stage{
  width: 500px;
  height: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display:flex;
  justify-content:center;
  align-items: center;
  gap:2rem

}

.stage > div{
  width: 102px;
  height: 88px;
  background-size: cover;
}

h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  color: #fff;
  white-space: nowrap;
}

.orange{
  background: url(https://simseonbeom.github.io/Final/assets/tiger/orange.png);
}


.green{
  background: url(https://simseonbeom.github.io/Final/assets/tiger/green.png);
}

.blue{
  background: url(https://simseonbeom.github.io/Final/assets/tiger/blue.png);
}

.pink{
  background: url(https://simseonbeom.github.io/Final/assets/tiger/pink.png);
}

