section { position: relative; height: 100vh; } 
p { margin: 0; font-size: 8vw; } 
h2 { position: absolute; left: 50%; top: 50%; font-size: 5vw; transform: translate(-50%, -50%); } 
h3 { font-size: 5vw; margin-left: 3vw; margin: 0 0 0 2vw; color: #fff; } 

.section02 { height: initial; } 
.section02 h2 { opacity: 0; } 

.banner { height: initial !important; display: flex; justify-content: center; align-items: center; background: #000; z-index: 10; }
.inner { display: flex; align-items: center; padding: 3vh; } 
