body { background: #333; }

.stage { position: absolute; left: 50%; top: 50%; display: flex; align-items: center; justify-content: center; width: 80vw; height: 70vh; background: #333; transform: translate(-50%,-50%); color: #fff; }
.stage > div { width: 10vh; }
.stage > div + div { margin-left: 5vw; }
.stage > div::after { content:''; display: block; padding-bottom: 86.27450980392157%; background-size: cover; }

.orange::after { background: url(../../assets/images/tiger/orange.png); }
.green::after { background: url(../../assets/images/tiger/green.png); }
.blue::after { background: url(../../assets/images/tiger/blue.png); }
.pink::after { background: url(../../assets/images/tiger/pink.png); }

.nav { position: absolute; left: 50%; bottom: 5vh; transform: translateX(-50%); display: flex; gap: 2vw; }
.nav > button { padding: 2vw; font-size: 2vw;; transition: all .2s; cursor: pointer; }
.nav > button:hover { filter: invert(1); }

/* .dotNav { display: flex; width: 80vw; position: absolute; left: 50%; bottom: 200px; transform: translateX(-50%); justify-content: space-evenly; }
.dotNav > div { width: 20px; height: 20px; border-radius: 50%; background: deeppink; border: 3px solid #fff; cursor: pointer; }
.dotNav > div:hover { filter: invert(1); } */