@charset "utf-8";

*,
*:before,
*:after{-webkit-box-sizing:border-box; box-sizing:border-box; /*outline:none;*/ -webkit-tap-highlight-color:transparent !important; /* overscroll-behavior-y:none; */ touch-action: pan-x; }
*:focus-visible {outline:2px solid #333; /* outline-offset:0; */}

:root{
  --sat:constant(safe-area-inset-top);
  --sat:env(safe-area-inset-top);

  --sab:constant(safe-area-inset-bottom);
  --sab:env(safe-area-inset-bottom);

  --sar:constant(safe-area-inset-right);
  --sar:env(safe-area-inset-right);

  --sal:constant(safe-area-inset-left);
  --sal:env(safe-area-inset-left);

  --vh: 100%;
  --vw: 100%;
}

html, body, #container { width: 100%; /*height:100%;*/ min-height: 100%;}
html {font-size: 10px; overscroll-behavior-y: none; }
body {
  background: #fff;
  color: #000;
  font-size: 1.4rem;
  font-weight: 500;
  -webkit-text-size-adjust: none;
  word-break: break-all;
  line-height: 1.437;
  touch-action: pan-x pan-y;
}
body,dd,dl,dt,ul,ol,li,p,fieldset,form,input,textarea,select,button,table,legend,th,td,h1,h2,h3,h4,h5,h6 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: 'Pretendard', 'Sans-serif',"맑은 고딕","Malgun Gothic";
  /* outline:none; */
}
article,aside,footer,header,nav,main,menu,section,summary,details,hgroup,figure,figcaption { display: block; }
table { table-layout: fixed; width: 100%; border-collapse: collapse; border-spacing: 0; }
legend, caption { position: absolute; clip: rect(0 0 0 0); clip-path: inset(50%); width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; overflow: hidden; white-space: nowrap;}
ol,ul { list-style: none; }
em,address,caption,cite,code { font-weight: 400; font-style: normal; }
img,fieldset,iframe { border: 0; }
img { width: 100%; height: auto; vertical-align: top; }
a { display: inline-block; color: inherit; text-decoration: none; /*outline:none;*/}
a:active, a:hover { text-decoration: none; }

strong,h1,h2,h3 { font-weight: 700; }
button { background-color: transparent; color: inherit; cursor: pointer; }
button:hover { color: inherit; }
label{ cursor: pointer; }
input, select, textarea, button { border: 0; border-radius: 0; -webkit-appearance: none; appearance: none; }

input::placeholder,
textarea::placeholder { opacity: 1; color: #999; }

input[type="password"]:not(:placeholder-shown) { font-family: 'pass'; }

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {appearance:none; -webkit-appearance:none; margin:0;}
input[type="number"] {appearance:textfield; -moz-appearance:textfield;} */

input::-ms-clear,
input::-ms-reveal { display: none; width: 0; height: 0; }
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }
input[type=date]::-webkit-inner-spin-button { display: none; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-calendar-picker-indicator { display: none; }
input[type=number] { -moz-appearance: textform; }
/* input[type=checkbox]:focus{outline:none;} */
/* select::-ms-expand {display:none;}
select:required:invalid {color:#A0A4AF;}
option[value=""][disabled] {display:none;} */

::-webkit-scrollbar{ width: 5px; }
::-webkit-scrollbar-thumb{ height: 30%; background: rgba(0,0,0,.4); border-radius: 10px; }
::-webkit-scrollbar-track{ background: rgba(33,122,244,.03); }

.scrollbar-track { width: 5px; background: rgba(222, 222, 222, .3); }
.scrollbar-thumb { width: 5px; background: rgba(0,0,0, 0.3) }

/* *:focus:not(:focus-visible) {outline:none;} */

.blind, .hidden{ position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; overflow: hidden; white-space: nowrap; }