
section {
  height: 100vh;
  position: relative;
}

h2 {
  font-size: 5vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


body{
  overflow-x: hidden !important;
}

#container {
  width: 100vw;
  height: 100vh;

}

.horizontal {
  width: fit-content;
  height: 100vh;
  display: flex;
}

.horizontal .section {
  height: 100vh;
  width: 100vw;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}


.h-section02{
  width: 200vw !important;
}

.box{
  width: 50vw;
  height: 100vh;
  /* width: 100px; */
  /* height: 100px; */
  background: orange
}