section { position: relative; height: 100vh; }
h2 { position: absolute; left: 50%; top: 50%; font-size: 5vw; margin: 0; transform: translate(-50%,-50%); }

#no-scroll { position: fixed; left: 0; top: 0; width: 100vw; height: 100vh; z-index: 9999; display: none; }
#container { position: relative; width: 100vw; height: 100vh; overflow: hidden; z-index: 10; }

.section01 {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 150vh; overflow: hidden;
  
  & h2 { display: none !important; }
}

.text_container {
  position: absolute; left: 50%; top: 10%; text-align: center; text-transform: uppercase; transform: translateX(-50%); font-family: 'Playfair Display', serif; z-index: 100;

  & div { font-size: 5vw; white-space: nowrap; }
  & span { font-weight: 300; font-style: italic; font-family: 'Arial',sans-serif; }
}

.image_container {
  display: flex; justify-content: center; align-items: center; gap: 2rem; width: 200vw; padding-top: 15rem;

  & div {
    /* max-width: 60vw; */

    & img { width: 100%; }
  }
}

.small { width: 100%; }
.medium { width: 130%; }
.large { width: 200%; }