section { position: relative; height: 100vh; } 
h2 { position: absolute; left: 50%; top: 50%; font-size: 5vw; margin: 0; transform: translate(-50%,-50%); } 

#container { width: 100vw; height: 100vh; } 

.section02 { height: 600px; } 

.progress { position: absolute; left: 50%; top: 0; width: 2px; height: 100%; background: hotpink; margin-left: -1px; /* transform: translateX(-50%); */}

.lnb { position: absolute; left: 5vw; top: 50%; transform: translateY(-50%); z-index: 9999; /* display: none; */ /* mix-blend-mode: difference; */}
.lnb ul { list-style: none; color: #000; margin: 0; padding: 0; /* color: #fff; */}
.lnb ul > li { position: relative; margin-bottom: 30px; } 
.lnb ul > li:last-child { margin-bottom: 0; } 
.lnb span { position: absolute; left: 0; top: 50%; font-weight: bold; white-space: nowrap; transform: translateY(-50%); opacity: 0; } 

.dot { position: relative; width: 20px; height: 20px; border-radius: 50%; background: hotpink; z-index: 10; } 