body {
  background: black;
}

.stage {
  width: 500px;
  height: 350px;
  background: gray;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.among {
  width: 80px;
  height: 90px;
  background: url(https://aluvy.github.io/gsap/assets/images/among/red.png);
  background-size: cover;
  position: absolute;
  top: 100px;

}

