* { padding: 0; margin: 0; }
html { font-size: 10px; }
body { background: #333; }
html::-webkit-scrollbar,
body::-webkit-scrollbar { width: 0; height: 0; }

.stage{ width: 90vw; height: 90vh; margin: 0 auto; display: flex; font-size:3rem; color: #fff; justify-content: center; align-items: flex-end; gap: 0.5vw; }

.stage > div { flex: 1; height: 0; background: gray; }
