html{scroll-behavior: smooth; overflow-x: hidden;}
body{padding-left:13rem;}

nav{position:fixed; left:0; top:0; display:block; width:12rem; height:100vh; padding:1.5rem; background:#000; box-sizing:border-box; overflow-y:scroll}
nav section{border-top:1px solid #ffffff10; padding:1.25rem 0; margin: 1.25rem 0;}
nav section:nth-of-type(1){border:0 none; padding:0; margin: 0;}
nav section h2{color:#fff; font-weight:700; font-size:.75rem;}
nav ul{display:flex; flex-direction: column; gap:.5rem 0; margin:1rem 0 0;}
nav ul li a{display: block; color:#ffffff60; font-size:.85rem; line-height:1.4; transition:color .3s;}
nav ul li a:hover{color:#ffffffbb;}
nav ul li.active a{color:aquamarine;}

.sample__wrap{margin:10rem 2rem 2rem;}
.sample__wrap:nth-of-type(1){margin-top:2rem}

.sample__code{background-color:#444; padding:1rem; border-radius:.75rem; color:#ffffff90; font-size:.85rem; line-height:1.5; margin:1rem 0 0;}
.sample__code pre{letter-spacing:0.045rem;}


.sample__option{margin:1rem 0 0; height:2.25rem; overflow: hidden;}
.sample__option.active{height:auto;}
.sample__option-ttl{background:#f2f2f2; padding:.75rem 1rem; font-size:0.75rem; color:#888; font-weight:700; display:flex; align-items:center; justify-content:space-between; cursor:pointer;}
.sample__option-ttl strong{}
.sample__option-ttl span{}
.sample__option table{width: 100%; border:1px solid #ddd;}
.sample__option table th,
.sample__option table td{border:1px solid #ddd; padding:.5rem; text-align:left; font-size:0.75rem; color:#666; line-height:1.4; vertical-align: middle;}
.sample__option table thead th,
.sample__option table thead td{background:#e8e8e8; color:#333; font-weight:700}
.sample__option table tbody th{background:#f7f7f7;}


/* .sample__ttl{} */
.sample__ttl h2{font-weight: 700; font-size:1.25rem;}
.sample__ttl p{font-size:.85rem; color:#666; margin:.75rem 0 0;}
.sample__ttl p span{display: flex; align-items:flex-start; justify-content:flex-start; gap:0 1rem;}
.sample__ttl p span + span{margin:.5rem 0 0;}
.sample__ttl p b{color:#333; font-weight:700; flex:0 0 10rem;}
.sample__ttl p a{color:dodgerblue}
.sample__content{margin:1rem 0 0;}
.sample__btn{margin:2rem 0 0;}
.sample__btn button{padding:.25rem 1rem; font-size:.75rem;}



/* Dcoding */
/* .Dcoding{} */
.Dcoding .sample__content{height:25rem; background:#ddd; display:flex; flex-direction: column; align-items: center; justify-content: center; gap: 0.625rem;}
.Dcoding .sample__content .box{display:block; width: 3.125rem; height: 3.125rem; border-radius:0.3rem; font-size:0.5rem; display:flex; align-items: center; justify-content: center;}
.Dcoding .sample__content .box1{background-color:tomato}
.Dcoding .sample__content .box2{background-color:steelblue}
.Dcoding .sample__content .box3{background-color:rosybrown}




/* .gsap-to */
.gsap-to .box{width:3rem; height:3rem; display:flex; align-items:center; justify-content: center; font-size:.75rem;}
.gsap-to .box + .box{margin:1rem 0 0;}
.gsap-to .box1{background-color: tomato;}
.gsap-to .box2{background-color: aquamarine;}
.gsap-to .box3{background-color: steelblue;}
.gsap-to .box4{background-color:bisque;}

/* gsap-from */
.gsap-from .box{width:3.5rem; height:3.5rem; display:flex; align-items:center; justify-content: center; font-size:.75rem;}
.gsap-from .box + .box{margin:1rem 0 0;}
.gsap-from .box1{background-color: tomato;}
.gsap-from .box2{background-color: aquamarine;}
.gsap-from .box3{background-color: steelblue;}

/* gsap-timeline-delay */
.gsap-timeline-delay .box1{width:3.5rem; height:3.5rem; display:flex; align-items: center; justify-content: center; font-size:.75rem; background:tomato}

/* gsap-timeline */
.gsap-timeline .box1{width:3.5rem; height:3.5rem; display:flex; align-items: center; justify-content: center; font-size:.75rem; background:tomato}

/* gsap-scrolltrigger */
.gsap-scrolltrigger .emoji img{width:5rem}

/* gsap-scrolltrigger-toggleaction */
.gsap-scrolltrigger-toggleaction .emoji img{width:5rem;}

/* flip */
.gsap-Flip .sample__content .flip-group{height:10rem; display:flex; align-items:center; justify-content: center; overflow: hidden; box-sizing:border-box;}
.gsap-Flip .sample__content .flip-group .letter{font-size:.75rem; background-color:teal; display:flex; align-items: center; justify-content:center}
.gsap-Flip .sample__content .flip-group .for{display:none;}
.gsap-Flip .sample__content .flip-group .GSAP{display:none;}
.gsap-Flip .sample__content .flip-group .letter:nth-child(2){background-color:steelblue}
.gsap-Flip .sample__content .flip-group .letter:nth-child(3){background-color:mediumpurple}
.gsap-Flip .sample__content .flip-group .letter:nth-child(4){background-color:slateblue}
    /* final */
.gsap-Flip .sample__content .flip-group.final .letter{padding:1.25rem .55rem;}
.gsap-Flip .sample__content .flip-group.final .for,
.gsap-Flip .sample__content .flip-group.final .GSAP{display:block; margin-left:.25rem;}
    /* plain */
.gsap-Flip .sample__content .flip-group.plain .letter{background:none;}
/* columns */
.gsap-Flip .sample__content .flip-group.columns{flex-wrap:wrap; align-items:stretch; align-content:stretch;}
.gsap-Flip .sample__content .flip-group.columns .letter{flex:0 0 25%;}
    /* grid */
.gsap-Flip .sample__content .flip-group.grid{flex-wrap:wrap; align-items:stretch; align-content:stretch;}
.gsap-Flip .sample__content .flip-group.grid .letter{flex:0 0 50%;}


/* Flip - scale */
.gsap-Flip-scale .flip-scale{position:relative; height:20rem; overflow: hidden;}
.gsap-Flip-scale .flip-scale button{position:absolute; left:0; bottom:0}
/* .gsap-Flip-scale .originalContainer{} */
.gsap-Flip-scale .newContainer{position:absolute; right:-12rem; bottom:-3rem; width:20rem; height:20rem; color:#fff; background-color:rgb(184, 163, 184); transform:rotate(-45deg) scale(1.5)}
.gsap-Flip-scale .box{position:absolute; left:1rem; top:1rem; width:5rem; height:5rem; box-sizing:border-box; border-radius:.5rem; background:#000; color:yellowgreen; display:flex; align-items:center; justify-content: center;}


/* gsap-Flip-fit */
.gsap-Flip-fit button{font-size:.75rem; font-weight:700px; padding:.25rem 1rem;}
.gsap-Flip-fit .wrap{display:flex; align-items: flex-start; justify-content: flex-start; gap: 5rem; margin:1rem 0 0;}
.gsap-Flip-fit .target{width:8rem; height: 4rem; background-color:slateblue; font-size:1.25rem; color:#fff; display:flex; align-items:center; justify-content: center;}
.gsap-Flip-fit .container{width:10rem; border:1px solid rebeccapurple; padding:1rem; text-align:center; box-sizing:border-box;}
.gsap-Flip-fit .container ul li{margin:1rem 0 0; padding:1rem 0; background-color:wheat; box-sizing:border-box;}

/* gsap-Flip-absolute */
.gsap-Flip-absolute button{font-size:.75rem; font-weight:700px; padding:.25rem 1rem;}
.gsap-Flip-absolute .group{height:20rem; display:flex; flex-direction: column; align-items: stretch; justify-content:space-between; flex-wrap:wrap; box-sizing:border-box; background:#000; gap:.5rem; padding:.5rem;}
.gsap-Flip-absolute .group.reorder{flex-wrap:nowrap; flex-direction:row;}
.gsap-Flip-absolute .group div{flex:1 1 22%; padding:.5rem; box-sizing:border-box;}
.gsap-Flip-absolute .group div:nth-child(1){background-color:slateblue;}
.gsap-Flip-absolute .group div:nth-child(2){background-color:rebeccapurple;}
.gsap-Flip-absolute .group div:nth-child(3){background-color:steelblue;}
.gsap-Flip-absolute .group div:nth-child(4){background-color:teal;}


/* gsap-Flip-nested */
.gsap-Flip-nested button{font-size:.75rem; font-weight:700px; padding:.25rem 1rem;}
.gsap-Flip-nested .group{height:30rem; display:flex; gap:1rem}
.gsap-Flip-nested .group section{box-sizing:border-box; border:2px solid red; padding:1rem; display:flex; justify-content: center; align-items: center; gap:1rem; flex-direction: column;}
    /* reverse */
.gsap-Flip-nested .group.reverse{flex-direction:row-reverse;}
.gsap-Flip-nested .group.reverse section{flex-direction:column-reverse;}

.gsap-Flip-nested .group .section1{flex:1 1 80%; border-color:tomato;}
.gsap-Flip-nested .group .section2{flex:1 1 20%; border-color:saddlebrown;}
.gsap-Flip-nested .group div{padding:.5rem; box-sizing:border-box;}
.gsap-Flip-nested .group .section1 div:nth-of-type(1){background-color:slateblue;}
.gsap-Flip-nested .group .section1 div:nth-of-type(2){background-color:rebeccapurple;}
.gsap-Flip-nested .group .section2 div:nth-of-type(1){background-color:steelblue;}
.gsap-Flip-nested .group .section2 div:nth-of-type(2){background-color:teal;}


/* gsap flip targets */
.gsap-Flip-target button{font-size:.75rem; font-weight:700px; padding:.25rem 1rem;}
.gsap-Flip-target .group{}
.gsap-Flip-target .container1,
.gsap-Flip-target .container2{height:5rem; border:1px solid dodgerblue; padding:.5rem; box-sizing:border-box; display:flex; align-items:center; justify-content: center; gap:.5rem;}
.gsap-Flip-target .container1{}
.gsap-Flip-target .container2{margin:1rem 0 0;}
.gsap-Flip-target .group div{}
.gsap-Flip-target .orange,
.gsap-Flip-target .purple{width:4rem; height: 3rem; display: flex; align-items: center; justify-content: center;}
.gsap-Flip-target .orange{background-color:darkorange}
.gsap-Flip-target .purple{background-color:slateblue}
.gsap-Flip-target .container2 .orange{background-color: violet;}
.gsap-Flip-target .container2 .purple{background-color:teal}


/* gsap flip id */
.gsap-Flip-id .sample__content{display:flex; align-items:center; justify-content: center;}
.gsap-Flip-id .thumbnail{}
.gsap-Flip-id .container{}
.gsap-Flip-id .fullsize{flex:0 0 auto; display:none;}

/* gsap-Flip-onEnter */
.gsap-Flip-onEnter .group{display:flex; flex-wrap: wrap; align-items:center; justify-content: space-between; gap:.5rem; box-sizing:border-box; margin:1rem 0 0;}
.gsap-Flip-onEnter .group .item{flex:1 0 30%; height:5rem; display:flex; align-items: center; justify-content: center; box-sizing:border-box;}
.gsap-Flip-onEnter .group .green{background-color:yellowgreen}
.gsap-Flip-onEnter .group .purple{background-color:purple}
.gsap-Flip-onEnter .group .orange{background-color:orange}

/* gsap Flip props */
.gsap-Flip-props button{font-size:.75rem; font-weight:700px; padding:.25rem 1rem;}
.gsap-Flip-props .group{}
.gsap-Flip-props .container1,
.gsap-Flip-props .container2{height:5rem; border:1px solid dodgerblue; padding:.5rem; box-sizing:border-box; display:flex; align-items:center; justify-content: center; gap:.5rem;}
.gsap-Flip-props .container1{}
.gsap-Flip-props .container2{margin:1rem 0 0;}
.gsap-Flip-props .group div{}
.gsap-Flip-props .orange,
.gsap-Flip-props .purple{width:4rem; height: 3rem; display: flex; align-items: center; justify-content: center;}
.gsap-Flip-props .orange{background-color:darkorange}
.gsap-Flip-props .purple{background-color:slateblue}
.gsap-Flip-props .container2 .orange{background-color: violet;}
.gsap-Flip-props .container2 .purple{background-color:teal}


/* observer */
.Observer .sample__content .observer-wrap{display:flex; width:100%; height:30rem; overflow-x: hidden; background:#000; display:flex; align-items: center; justify-content: center;}
.Observer .sample__content .observer-wrap .circle{position:relative; width:15rem; height:15rem; border-radius:10rem; border:5px solid #ffffff50}
.Observer .sample__content .observer-wrap .circle::after{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); content:''; display:block; width:1rem; height: 1rem; background-color:tomato; opacity: .5; border-radius:1rem;}
.Observer .sample__content .observer-wrap .arrow{display:block; position:absolute; left:50%; bottom:50%; margin:0 0 0 -5px; width:10px; height:7rem; border-radius:10px; background-color: yellowgreen; transform:rotate(0deg); transform-origin: bottom center;}