html{scroll-behavior: smooth; overflow-x: hidden;}
body{padding-left:12.5rem;}

nav{position:fixed; left:0; top:0; display:block; width:11.5rem; height:100vh; padding:1.5rem; background:#000; box-sizing:border-box;}
nav section{border-top:1px solid #ffffff10; padding:1.25rem 0; margin: 1.25rem 0;}
nav section:nth-of-type(1){border:0 none; padding:0; margin: 0;}
nav section h2{color:#fff; font-weight:700; font-size:.75rem;}
nav ul{display:flex; flex-direction: column; gap:.5rem 0; margin:1rem 0 0;}
nav ul li a{display: block; color:#ffffff60; font-size:.85rem; line-height:1.4; transition:color .3s;}
nav ul li a:hover{color:#ffffffbb;}
nav ul li.active a{color:aquamarine;}

.sample__wrap{margin:10rem 2rem 2rem;}
.sample__wrap:nth-of-type(1){margin-top:2rem}

.sample__code{background-color:#444; padding:1rem; border-radius:.75rem; color:#ffffff90; font-size:.85rem; line-height:1.5}

/* .sample__ttl{} */
.sample__ttl h2{font-weight: 700; font-size:1.25rem;}
.sample__ttl p{font-size:.85rem; color:#666; margin:.75rem 0 0;}
.sample__ttl p span{display: flex; align-items:flex-start; justify-content:flex-start; gap:0 1rem;}
.sample__ttl p span + span{margin:.5rem 0 0;}
.sample__ttl p b{color:#333; font-weight:700; flex:0 0 10rem;}
.sample__ttl p a{color:dodgerblue}
.sample__content{margin:1rem 0 0;}
.sample__btn{margin:2rem 0 0;}
.sample__btn button{padding:.25rem 1rem; font-size:.75rem;}

/* .gsap-to */
.gsap-to .box{width:3rem; height:3rem; display:flex; align-items:center; justify-content: center; font-size:.75rem;}
.gsap-to .box + .box{margin:1rem 0 0;}
.gsap-to .box1{background-color: tomato;}
.gsap-to .box2{background-color: aquamarine;}
.gsap-to .box3{background-color: steelblue;}
.gsap-to .box4{background-color:bisque;}

/* gsap-from */
.gsap-from .box{width:3.5rem; height:3.5rem; display:flex; align-items:center; justify-content: center; font-size:.75rem;}
.gsap-from .box + .box{margin:1rem 0 0;}
.gsap-from .box1{background-color: tomato;}
.gsap-from .box2{background-color: aquamarine;}
.gsap-from .box3{background-color: steelblue;}

/* gsap-timeline-delay */
.gsap-timeline-delay .box1{width:3.5rem; height:3.5rem; display:flex; align-items: center; justify-content: center; font-size:.75rem; background:tomato}

/* gsap-timeline */
.gsap-timeline .box1{width:3.5rem; height:3.5rem; display:flex; align-items: center; justify-content: center; font-size:.75rem; background:tomato}

/* gsap-scrolltrigger */
.gsap-scrolltrigger .emoji img{width:5rem}

/* gsap-scrolltrigger-toggleaction */
.gsap-scrolltrigger-toggleaction .emoji img{width:5rem;}