#gsap-wrap { width: 100%; min-height: var(--vh); background-color: #0e100f; color: #fff; }
/* #gsap-wrap * { font-family: 'Fira Code', 'Pretendard', 'Sans-serif', "맑은 고딕", "Malgun Gothic"; } */
#gsap-wrap .inner { padding: 0 5rem; }

      
#gsap-wrap .header { display: flex; align-items: center; justify-content: space-between; }
#gsap-wrap h1 { padding: 5rem 0; }
#gsap-wrap h1 a { width: fit-content; display: flex; align-items: center; gap: 1.6rem; }
#gsap-wrap h1 a .symbol img { transition: transform .5s; }
#gsap-wrap h1 a:hover .symbol img { transform: rotate(180deg); }
#gsap-wrap svg,
#gsap-wrap img { height: 3rem; }

#gsap-wrap .utils { display: flex; align-items: center; gap: 2rem; }
#gsap-wrap .utils a { font-size: 1.4rem; opacity: 0.4; transition: all .3s; }
#gsap-wrap .utils a:hover { opacity: 0.8; }

#gsap-wrap .content { padding: 0 0 10rem; }

#gsap-wrap .item { padding: 5rem 0; border-top: 1px solid rgba(255,255,255, 0.2); }
#gsap-wrap .item h2 { font-size: 2rem; color: #fefce1; -webkit-text-fill-color: transparent; background: linear-gradient(180deg, #d6ffc3, rgba(214, 255, 195, 0)), #f3ffee; -webkit-background-clip: text; background-clip: text; letter-spacing: 1rem; }
#gsap-wrap .item > ul { padding-top: 1.6rem; }
#gsap-wrap .item > ul > li + li { padding-top: 1.4rem; }

#gsap-wrap .demogroup { padding-top: 6rem; }
#gsap-wrap .demogroup h3 { font-size: 1.6rem; color: #fefce1; opacity: 0.6; }
#gsap-wrap .demogroup > ul { display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: space-between; gap: 5rem 4rem; padding-top: 2rem; }
#gsap-wrap .demogroup > ul > li { flex: 1 1 45%;  }
#gsap-wrap .demogroup > ul > li { display: flex; align-items: center; }
#gsap-wrap .demogroup > ul > li a { position: relative; display: block; padding: 0.2rem 2rem; }
#gsap-wrap .demogroup > ul > li a strong { display: block; font-size: 1.6rem; }
#gsap-wrap .demogroup > ul > li a p.hash { display: flex; flex-wrap: wrap; align-items: center; gap: 0.6rem 1rem; font-size: 1.2rem; margin: 0.8rem 0 0; }
#gsap-wrap .demogroup > ul > li a p.hash span { display: flex; align-items: center; gap: 0.2rem; opacity: 0.5; }
#gsap-wrap .demogroup > ul > li a p.hash span::before { content: '#'; }
#gsap-wrap .demogroup > ul > li a:hover {  padding-left: 4rem; padding-right: 0rem; }
#gsap-wrap .demogroup > ul > li a::before { position: absolute; left: 0; top: 0; width: 1px; height: 100%; content:''; background: rgba(255,255,255, 0.4); transition: all .3s; }
#gsap-wrap .demogroup > ul > li a:hover::before { background: rgba(255,255,255, 0.8); }


#gsap-wrap .content a { opacity: 0.4; transition: all .3s; }
#gsap-wrap .content a:hover { opacity: 1; }

#float { position: fixed; /*right: 0; bottom: 0;*/ width: 30rem; overflow: hidden; display: none; }
#float::after { content: ''; display: block; padding-bottom: 80%; }
#float iframe { position: absolute; inset: 0; border: 0; width: 100%; height: 100%; }