body{
  background: #333;
}

.stage{
  width: 80vw;
  height: 70vh;
  background: #333;
  /* border: 1px solid black; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  color: #fff;
  font-size:2rem;

}

.stage > div{
  width: 102px;
  height: 88px;
  background-size: cover;
}

.orange{
  background: url(https://simseonbeom.github.io/Final/assets/tiger/orange.png);
}


.green{
  background: url(https://simseonbeom.github.io/Final/assets/tiger/green.png);
}

.blue{
  background: url(https://simseonbeom.github.io/Final/assets/tiger/blue.png);
}

.pink{
  background: url(https://simseonbeom.github.io/Final/assets/tiger/pink.png);
}


.nav{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5vh;
  display: flex;
  gap:2rem
  
}

.nav > button{
  cursor:pointer;
  padding: 1rem;
  font-size: 1.5rem;
  transition: all .2s;
}

.nav > button:hover{
  filter: invert(1);
}


.dotNav{
  display: flex;
  width: 80vw;
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  justify-content: space-evenly;

}

.dotNav > div{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: deeppink;
  border:3px solid #fff;
  cursor:pointer;

}


.dotNav > div:hover{
  filter: invert(1);
}
    

