body{
  background-color: #333;
}



.tiger{
  width: 500px;
  height: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display:flex;
  justify-content:center;
  align-items: center;
  gap:2rem

}

.tiger > div{
  width: 102px;
  height: 88px;
  background-size: cover;
}




.stage{
  width: 600px;
  height: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);


}

.stage > div{
  display: inline-block;
  width: 5.166667%;
  margin: 0px 1.5% 1.5% 0px;
  background: #88ce02;
  position: relative;
}

.box:before {
  padding-top: 100%;
  content: "";
  display: block;
}

.orange{
  background: url(https://simseonbeom.github.io/Final/assets/tiger/orange.png);
}


.green{
  background: url(https://simseonbeom.github.io/Final/assets/tiger/green.png);
}

.blue{
  background: url(https://simseonbeom.github.io/Final/assets/tiger/blue.png);
}

.pink{
  background: url(https://simseonbeom.github.io/Final/assets/tiger/pink.png);
}




.word{
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #000;
  /* color:  */
  -webkit-text-stroke: 1px #51ff00;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20vh;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

















