html { font-size: 10px; }
body { background: #333; }
button { padding: 0; margin: 0; background: transparent; border: 0 none; }

.stage { display: flex; align-items: center; justify-content: center; gap: 2rem; width: 100%; height: 50vh; color: #fff; }
.stage > div { width: 10vh; }
.stage > div::after { content:''; display: block; padding-bottom: 86.27450980392157%; background-size: cover; }

.orange::after { background: url(../../assets/images/tiger/orange.png); }
.green::after { background: url(../../assets/images/tiger/green.png); }
.blue::after { background: url(../../assets/images/tiger/blue.png); }
.pink::after { background: url(../../assets/images/tiger/pink.png); }

.nav { display: flex; align-items: center; justify-content: center; gap: 2vw; margin-top: 4rem; }
.nav > button { padding: 2vw; font-size: 2vw; background: rgba(255,255,255, 0.3); border-radius: 3px; transition: all .2s; cursor: pointer; }
.nav > button:hover { filter: invert(1); }

.dotNav { display: flex; align-items: center; justify-content: center; gap: 1rem; }
.dotNav > button { display: block; width: 2rem; height: 2rem; border-radius: 50%; background: deeppink; cursor: pointer; transition: all .3s; }
.dotNav > button:hover { filter: invert(1); }
