body{
  background-color: #000;
  overflow: hidden;
}

*{
  margin: 0;
  padding: 0;
}

.space{
  /* overflow: hidden; */
  position: absolute;
  transform: rotateX(-20deg);
  perspective: 800px;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;


}


.solar_system{
  transform-style: preserve-3d;
  pointer-events: none;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  /* transform: translate(-50%,-50%); */
}

.solar_system .planet {
  height: 1200px;
  width: 1200px;
  border-radius: 600px;
  background: red;
  /* transition: transform 2.8s 0.23s cubic-bezier(0.33, 0, 0, 1), opacity 2s 0.8s, box-shadow 0s 0s; */
  background-size: 1140px 910px !important;
  /* top: auto; */
  bottom: -920px;
  position: absolute;
  left: 0;
  right: 0;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  margin: auto;
}

.planet.mercury {
  background: url(../assets/images/mercury.jpeg);
  box-shadow: 0 -590px 150px black inset, 0 0px 130px 40px rgba(234, 205, 199, 0.6) inset, 0 0px 23px 4px rgba(234, 205, 199, 0.6) inset, 0 -10px 130px rgba(188, 143, 127, 0.6);
}

.planet.venus {
  background: url(../assets/images/venus.jpeg);
  box-shadow: 0 -590px 150px black inset, 0 0px 130px 40px #ffcb9c inset, 0 0px 23px 4px #ffcb9c inset, 0 -10px 130px #b85a07;
}

.planet.earth {
  background: url(../assets/images/earth.jpeg);
  box-shadow: 0 -590px 150px black inset, 0 0px 130px 40px #8cbaff inset, 0 0px 23px 4px #8cbaff inset, 0 -10px 130px #7894a9;
}

.planet.mars {
  background: url(../assets/images/mars.jpeg);
  box-shadow: 0 -590px 150px black inset, 0 0px 130px 40px #e86363 inset, 0 0px 23px 4px #e86363 inset, 0 -10px 130px #6b261a;
}

.planet.jupiter {
  background: url(https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA07782_hires.jpg);
  box-shadow: 0 -590px 150px black inset, 0 0px 130px 40px rgba(234, 205, 199, 0.6) inset, 0 0px 23px 4px rgba(234, 205, 199, 0.6) inset, 0 -10px 130px rgba(188, 143, 127, 0.6);
}

.planet.saturn {
  background: url(https://www.solarsystemscope.com/images/textures/full/2k_saturn.jpg);
  box-shadow: 0 -590px 150px black inset, 0 0px 130px 40px rgba(234, 205, 199, 0.6) inset, 0 0px 23px 4px rgba(234, 205, 199, 0.6) inset, 0 -10px 130px rgba(188, 143, 127, 0.6);
}

.planet.uranus {
  background: url(../assets/images/uranus.png);
  box-shadow: 0 -590px 150px black inset, 0 0px 130px 40px rgba(234, 205, 199, 0.6) inset, 0 0px 23px 4px rgba(234, 205, 199, 0.6) inset, 0 -10px 130px rgba(127, 188, 171, 0.6);
}

.planet.neptune {
  background: url(../assets/images/neptune.jpeg);
  box-shadow: 0 -590px 150px black inset, 0 0px 130px 40px rgba(234, 205, 199, 0.6) inset, 0 0px 23px 4px rgba(234, 205, 199, 0.6) inset, 0 -10px 130px #2d4153;
}

.planet.pluto {
  background: url(../assets/images/pluto.png);
  box-shadow: 0 -590px 150px black inset, 0 0px 130px 40px rgba(234, 205, 199, 0.6) inset, 0 0px 23px 4px rgba(234, 205, 199, 0.6) inset, 0 -10px 130px #2d4153;
}


.overlay {
  position: absolute;
  right: 0;
  top: -240px;
  left: -303px;
  border-bottom: 1020px solid black;
  width: 1800px;
  height: 620px;
  transform: none;
  opacity: 1;
  border-radius: 100%;
  z-index: 0;
  box-shadow: 0px -190px 215px 110px black inset;
}


.planet h2{
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top:-50px;
  text-transform: uppercase;
  font-size: 2rem;
}





button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  background:transparent;
  font-size: 3rem;
  z-index: 9099;
  border: 1px solid #ffffff6b;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor:pointer;
  transition: all .5s;
}

button:hover{
  background:#fff;
  color: black;
}

.left{
  left: 2rem;
}

.right{
  right: 2rem;
}
