body { overflow: hidden; }
section { position: relative; height: 100vh; }
h2 { position: absolute; left: 50%; top: 50%; margin: 0; font-size: 5vw; transform: translate(-50%,-50%); }

#container { width: 100vw; height: 100vh; overflow: hidden; }

.section03 {
  overflow: hidden;

  & h2 { display: none; }
  
  .depth_wrapper {

    & div { position: relative; width: 100vw; height: 100vh; }

    & div:nth-child(1) {background:orange}
    & div:nth-child(2) {background:green}
    & div:nth-child(3) {background:pink}
  }
}
